<div class="col-md-3" style="height: 100%">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <a href="{{ url_for('showCatalog') }}">Category</a>
        <div class="pull-right">
          <a href = "{{ url_for('newCategory') }}">
            <button class="btn btn-success primary" style="background: #009688;">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </a>
        </div>
      </h2>
    </div>
  </div>
  <ul class="list-group">
    {% for c in categories %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <a href="{{ url_for('showCategoryItems', category_id=c.id) }}">{{ c.name }}</a>
            {% if c.user_id == session.user_id %}
            <div class="pull-right">
              <a href="{{ url_for('editCategory', category_id=c.id, catalog_item_id=c.id) }}" class="glyphicon glyphicon-edit"></a>
              <span class="vseperator"></span>
              <a href="{{ url_for('deleteCategory', category_id=c.id, catalog_item_id=c.id) }}" class="glyphicon glyphicon-remove"></a>
            </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
